@{
    Layout = null;
}
<script src="~/js/survey.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lipa City ARTA</title>
    <link rel="stylesheet" href="~/css/survey.css" />
</head>
<body>
    <div class="welcome-container">
        <main class="main-content">
            <div class="card intro-card">
                <img src="~/images/logo-home.png" class="logo-home" />
                
                <h3 class="h3">
                  <span class="wave">
                    <span>M</span>
                    <span>A</span>
                    <span>B</span>
                    <span>U</span>
                    <span>H</span>
                    <span>A</span>
                    <span>Y</span>
                    <span>,</span>
                    <span>WELCOME</span>
                    <span>TO</span>
                    <span>LIPA</span>
                    <span>CITY</span>
                    <span>HALL</span>
                    <span>!</span>
                </span>
            </h3>
                
                <a href="@Url.Action("Choose", "Public")" class="start-btn">
                    Start with me
                </a>
             
            </div>
            </main>

        <footer class="footer">
            <p>© 2026 ARTA – Lipa City Government</p>
        </footer>

        <img src="~/images/avatar.png" class="avatar" alt="Help Desk Avatar">

    </div>
    <script src="~/js/survey.js"></script>
</body>
</html>