@{
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
    ViewData["Title"] = "Thank You";
}

<div class="thank-you-container">
    <div class="thank-you-card">

        <h2>Thank You So Much for your Time!</h2>
        <p>Your feedback is very important to us and helps improve our services.</p>

        <a asp-controller="Public" asp-action="Choose" class="thank-you-btn">
            Start New
        </a>

    </div>
</div>